.alert{
  animation: hideAlert 5s forwards;
  border-radius: 10px;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.46);
  font-size: 14px;
  min-width: 200px;
  padding: 15px 20px;
  position: fixed;
  right: 20px;
  top: 80px;
  z-index: 999;
}

@keyframes hideAlert {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
