// Colors
$COR_DEFAULT: #000000;
$COR_SECONDARY: #2AAEE8;

$COR_INFO: #01acff;
$COR_SUCCESS: #4caf50;
$COR_DANGER: #f44336;
$COR_WAITING: #faa92a;
$COR_TEXT_LOGIN: #88a5c7;

$COR_BRAND: #bfcc30;


// Gradiente
$GRADIENT_DEFAULT: linear-gradient(to top, $COR_SECONDARY, $COR_DEFAULT);

// Form
$BORDER_COLOR_INPUT: #ddd;
$BORDER_RADIOS_BOX: 5px;

// Resoluções
$MEDIA_IPAD_PRO: 1024px;
$MEDIA_IPAD: 992px;
